<div class="index">
  <img src="/images/KV.png" alt="COSTMAN">
  <div class="f-container mt-3">
    <button class="btn btn-green"><a href="/signup">新規登録</a></button>
    <button class="btn btn-blue"><a href="/signin">ログイン</a></button>
  </div>
</div>