<%= @name %>
<form action='/test' method='post'>
  <%= Rack::Csrf.tag(env) %>
  <label for="name">名前</label>  
  <input type="text" id="name" name="name">
  <button type="submit">送信</button> 
</form>
