<div class="top">
  <div><img src="/images/step1.jpg" alt="食材登録"></div>
  <button class="btn btn-blue btn-right"><a href="/ingredients/new">食材を登録する</a></button>
  <div><img src="/images/step2.jpg" alt="レシピ登録"></div>
  <button class="btn btn-blue btn-right"><a href="/recipes/new">レシピを登録する</a></button>
  <div><img src="/images/step3.jpg" alt="レシピ管理"></div>
  <button class="btn btn-blue btn-right"><a href="/recipes">レシピ一覧へ</a></button>
</div>